<div class="row">
  <div class="column" id="background">
    <img class="image" src="../../../assets/images/user-photo.png" />
  </div>
  <div class="column">
    <div class="textDiv">
      <h1>Template is awesome</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
      <h4>John Doe</h4>
      <p>CEO at Crios.com</p>
    </div>
  </div>
</div>
