$secondary-color: #eaebec;

.imageDiv{
    width: 100%;
    margin-bottom: 50px;
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}

.textDiv{
    font-family: regular;
    text-align: center;
    h1{
        font-size: large;
        margin-bottom: 50px;
    }
    p{
        font-size: small;
        color: $secondary-color;
        line-height: 25px;
    }
}