$main-color: #43a9ff;
$secondary-color: #eaebec;

.column {
    float: left;
    width: 50%;
    height: 900px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .textDiv{
      display: block;
      margin-top: 50%;
      margin-bottom: 50%;
      font-family: regular;
      h1{
          color: $main-color;
      }
      p{
          line-height: 40px;
          color: $secondary-color;
      }
  }
  
  .textLeft{
      margin-left: 0%;
      margin-right: 40%;
  }
  .textRight{
      margin-left: 35%;
      margin-right: 5%;
  }
  
  .appImageDiv{
      height: 677px;
      width: 449px;
  }
  
  .app1Div{
      margin-left: 35%;
      margin-top: 15%;
  }
  
  .app2Div{
      margin-left: 5%;
      margin-top: 15%;
  }
  
  #background1{
      background-image: url(../../../assets/images/sn1-bg.png);
      background-attachment: local;
      background-size: 500px;
      background-repeat: no-repeat;
  }
  
  #background2{
      background-image: url(../../../assets/images/sn2-bg.png);
      background-position: bottom right;
      background-size: 500px;
      background-repeat: no-repeat;
  }
  
  #app1Background{
      background-image: url(../../../assets/images/app1.png);
      background-size: cover;
  }
  
  #app2Background{
      background-image: url(../../../assets/images/app2.png);
      background-size: cover;
  }